<div class="col-md-8" id="chartDiv" style="display: none;">
	<div class="card">
	 	<div class="card-body">
	   	<h1 id="label"></h1>
	   	<div id="chartContainer" style="height: 500px; width: 100%;">
  		</div>
	 	</div>
	 </div>
</div>
<script src="/js/chart.js"></script> 