<div class="modal fade" id="record" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Weight Used:</label>
              <input type="text" class="form-control" id="weight">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Reps:</label>
              <input type="text" class="form-control" id="reps">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Sets:</label>
            <input type="text" class="form-control" id="sets">
          </div>          
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Record</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/modal.js"></script> 
