<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <h1 class="mr-auto">Welcome Back {{user}}</h1>
  <a href="/menu" class="btn btn-primary mx-1">Main Menu</a>
  <a href="/logout" class="btn btn-primary mx-1">Logout</a>
</nav>