<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="mr-auto">Workout Tracker</h1>
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Username" name="username" id="username">
      </div>
      <div class="col">
        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
      </div>
      <button type="submit" class="btn btn-primary login mx-1">Sign in</button>
      <button type="submit" class="btn btn-primary register mx-1">Register</button>
    </div>
  </form>
</nav>
<script src="/js/home.js"></script>