{{> navbar}}
<div class="row">
  <div class="col-md-4">
    <a href="/upperbody">
      <div id ="upperbody" class="card" style="width: 18rem; cursor: pointer;">
        <div class="card-body">
          <h4 class="card-text">Upper Body</h4>
        </div>
      </div>
    </a>
  </div>
<div class="col-md-4">
  <a href="/lowerbody">
    <div id="lowerbody" class="card" style="width: 18rem; cursor: pointer;">
      <div class="card-body">
        <h4 class="card-text">Lower Body</h4>
      </div>
    </div>
  </a>
</div>
<div class="col-md-4">
  <a href="/history">
    <div id="history" class="card" style="width: 18rem; cursor: pointer;">
      <div class="card-body">
        <h4 class="card-text">Track History</h4>
      </div>
    </div>
  </a>
</div>